<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

    <body>
        <div id="wrapped">
            <%- include('../partials/header') %>
                <%- include('../partials/navigation') %>

                    <main>
                        <%- body %>
                    </main>

                    <%- include('../partials/footer') %>
        </div>
    </body>

</html>